{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div id="contactsList" class="row pb-4 contacts">
    <section class="container-fluid" id="bContacts">
        <div class="row contactHeading pl-3">
            <h6 class="py-md-1">B</h6>
        </div>
        {% for person in object_list %}
        <div class="row align-items-center contact">
            <div class="col-auto">
                <div  class="img-fluid rounded-circle contactImage userimage{{person.pk}}"></div>
            </div>
            <div class="col">
            <h5 class="person">{{ person.name }}</h5>
                <span class="number contactInfo">+27 82 299 5656</span>
                <span class="email contactInfo">ben@fourways.com</span>
            </div>
            <div class="col-auto"><button data-toggle="modal" data-target="#deleteContactModel"><i
                        class="far fa-trash-alt"></i></button></div>
        </div>
        {% endfor %}
    </section>
</div>


<div id="addNewContactModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content px-3">
            <div class="modal-header mt-3 border-bottom-1">
                <h4>Add Contact</h4>
                <button type="button" class="close float-right" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body text-center container">
                <label for="newImage">
                    <img src="Assets/profile-placeholder.png" alt="images placeholder" class="rounded-circle"
                        id="placeholder" />
                </label>
                <input id="newImage" type="file" class="d-none" />
                <form class="newAddContactForm mt-4">
                    <div class="form-group">
                        <input type="text" class="form-control mb-md-3 mb-2" placeholder="Name" id="newName"
                            required>
                        <input type="text" class="form-control mb-md-3 mb-2" placeholder="Surname"
                            id="newSurname" required>
                        <input type="number" class="form-control mb-md-3 mb-2" id="newMobileNumber"
                            placeholder="Mobile number" required maxlength=10>
                        <input type="email" class="form-control mb-md-3 mb-2" id="newEmailAddress"
                            placeholder="Email Address" required>
                        <input type="text" class="form-control mb-md-3 mb-2" placeholder="Address"
                            id="newPhysicalAddress" required>
                    </div>
                    <div class="form-group">
                        <button type="reset" class="btn btn-outline-secondary" onclick="closeModel()">Cancel</button>
                        <button type="button" class="btn btn-outline-primary ml-3"
                            onclick="createNewContact()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="deleteContactModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content px-3">
            <div class="modal-header border-bottom-1">
                <h4>Delete Contact</h4>
                <button type="button" class="close float-right" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Are you sure you want to delete this contact?</p>
                <button type="button" class="btn btn-outline-secondary" onclick="closeModel()">Cancel</button>
                <button type="submit" class="btn btn-outline-primary ml-3"
                    onclick="deleteContact()">Delete</button>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}